
*{
    margin:  0;
    padding: 0;
    box-sizing: border-box;
}

h1{
color: black;
}

body{
    border: 2px;
    height: 1000px;
    width: 1000px;
    background-color:rgb(87, 88, 87);
    background-repeat: repeat;
}


#blueBlock{
    background-color: rgb(66, 161, 255);
    height: 250px;
    width: 800px;
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
    vertical-align: bottom;
    margin: 10px;
}

#violetBlock{
    background-color: violet;
    height: 250px;
    width: 800px;
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
    vertical-align: bottom;
    margin: 10px;
}

#whiteBlock{
    background-color: white;
    height: 250px;
    width: 800px;
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
    vertical-align: bottom;
    margin: 10px;
}
.innerBoxes{
    background-color: rgb(255, 255, 255);
    height: 150px;
    width: 150px;
    display:flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
    vertical-align: bottom
    background-size: 100% 100%;
}


img{
    height: 150px;
    width: 150px;    
}
.container{
    background-color: grey;
    width: 850px;
    margin:  0 auto;
    padding: 25px;
    text-align: center;
}